{% extends "base.html" %}

{% block content %}

<div>

    <div class="span8">
      <div class="content-box">
        <div class="span11 span12-tablet span12-phone" style="margin-bottom:55px;">
          <h4>Ingredients</h4>
              <ul>
                {% for ing in results_set %}
                <li>{{ ing.1 }} KG of {{ing.0}}</li> -- est. ${{ing.2}}</li>
              {% endfor %}
            </ul>
            <h5>Total Est. Price: ${{ total }}</h5>
            </div>
        </div> <!-- /span -->
      </div> <!-- /row -->

</div>
{% endblock %}


