{% extends "base.html" %}

{% block content %}

<div>

    <div class="span8" style="margin-bottom:80%;">
      <div class="content-box" >
        <div class="span11 span12-tablet span12-phone" style="margin-bottom:55px;">
          <h2>Ingredients</h2>
                {% for ing in results_set %}
                <strong>{{ ing.1 }} KG</strong> of {{ing.0}} -- <em>est. ${{ing.2}}</em><br/>
              {% endfor %}
              <hr/>
            <h5>Total Est. Price: ${{ total }}</h5>
            </div>
        </div> <!-- /span -->
      </div> <!-- /row -->

</div>
{% endblock %}


